body, button {
	margin: 0;
	padding: 0;
	font: inherit;
}

body, .work, .rest, textarea {
	background: #fff url('../images/cream_dust.png') repeat center center;
}

.row {
	text-align: center;
}

button, label, h1, input, textarea, li {
	font-family: "Open Sans", "Verdana", sans-serif;
	font-weight: 100;
	font-size: 22px;
}

button {
	border-radius: 4px;
	padding: 8px;
	margin: 15px;
	border: none;
	background-color: #1ABF4F;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

input {
	display: inline;
	border: none;
	/*color: #fff;*/
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 30px;
	padding: 8px;
	text-align: center;
	font-size: 54px;
}

.work {	
	color: #1ABF4F;
}

.start:hover {
	background-color: #05A538;
}

.rest {
	color: #ff6d5e;
}

.pause {
	background-color: #ff6d5e;
}

.pause:hover {
	background-color: #F74836;
}

.reset {
	background-color: #bdc3c7;
}

.reset:hover {
	background-color: #9BA1A5;
}
.backlog {
	color: #666;
	font-size: 18px;
	text-align: left;
	cols: 200;
	border: 0;
	rows: 800;
	resize: none;
	height: 300px;
}

li {	
	font-size: 18px;
	text-align: left;
	color: #ccc;
	cursor: pointer;
	margin: -20px auto;
}

li:hover {
	color: #fff;
}

.td-item {
	position: relative;
	color: #fff;
	width: 80%;
	height: 20px;
	font-size: 16px;
	margin: 10px;
	margin-bottom: 20px;
	text-align: left;


	background-color: #37375A !important;
	border: 0;
	border-bottom: 1px solid #D8D8D8;
}

.td-item:focus {
	/*border: 0;
	border-bottom: 1px solid #fff;*/
	outline: 0;
}
.content {
	float: right;
	width: 70%;
}

.row.td-list {
	position: absolute;
	float: left;
	width: 30%;
	height: 100%;
	padding: 5px;
	background-color: #37375A;
}

ul {
	width: 80%;
	list-style: none;
	padding: 0;
	margin: -20px auto;
} 

input[type='checkbox'] {
	height: 15px;
	width: 15px;
	vertical-align: sub;
}

.done {
	text-decoration: line-through;
}