body, button {
	margin: 0;
	padding: 0;
	font: inherit;
}

body, input, textarea {
	background: #fff url('../images/cream_dust.png') repeat center center;
}

.row {
	text-align: center;
}

button, label, h1, input, textarea, li {
	font-family: "Open Sans", "Verdana", sans-serif;
	font-weight: 100;
	font-size: 22px;
}

button {
	border-radius: 4px;
	padding: 8px;
	margin: 15px;
	border: none;
	background-color: #1ABF4F;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

input {
	display: inline;
	border: none;
	/*color: #fff;*/
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 30px;
	padding: 8px;
	text-align: center;
	font-size: 54px;
}

.work {	
	color: #1ABF4F;
}

.rest {
	color: #ff6d5e;
}

.reset {
	background-color: #bdc3c7;
}

.pause {
	background-color: #ff6d5e;
}

.backlog {
	color: #666;
	font-size: 18px;
	text-align: left;
	cols: 200;
	border: 0;
	rows: 800;
	resize: none;
	height: 300px;
}

li {	
	font-size: 16px;
	text-align: left;
	color: #fff;
	cursor: hand;
	margin-left: -20px 10px;
}

input.td-item {
	position: relative;
	color: #333;
	width: 80%;
	height: 20px;
	border: 1px solid #999;
	font-size: 16px;
	margin: 10px;
}

.content {
	float: right;
	width: 70%;
}

.row.td-list {
	position: absolute;
	float: left;
	width: 30%;
	height: 100%;
	padding: 5px;
	background-color: #317dd3;
	opacity: 0.7;
}

ul {
	list-style: none;
	padding: 0;
	margin: -20px 0;
} 

input[type='checkbox'] {
	height: 15px;
	width: 15px;
	vertical-align: sub;
}

.done {
	text-decoration: line-through;
}