body, button {
	margin: 0;
	padding: 0;
	font: inherit;
}

body, input, textarea {
	background: #fff url('../images/cream_dust.png') repeat center center;
}

.row {
	text-align: center;
}

button, label, h1, input, textarea {
	font-family: "Open Sans", "Verdana", sans-serif;
	font-weight: 100;
	font-size: 24px;
}

button {
	border-radius: 4px;
	padding: 8px;
	margin: 15px;
	border: none;
	background-color: #1ABF4F;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

input {
	display: inline;
	border: none;
	color: #fff;
	width: 70px;
	height: 70px;
	margin: 10px;
	padding: 8px;
	text-align: center;
	font-size: 60px;
}

.work {	
	color: #1ABF4F;
}

.rest {
	color: #ff6d5e;
}

.reset {
	background-color: #bdc3c7;
}

.pause {
	background-color: #ff6d5e;
}

.backlog {
	color: #666;
	font-size: 18px;
	text-align: left;
	cols: 200;
	border: 0;
	rows: 800;
	resize: none;
	height: 300px;
}